*.ignore
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*99*
data/*
plots/*
*.rda
*.rds
*.Rdata
*.rdata
*.html
*.Rda
*.Rds
.Rproj.user
machine.file*
*.out
*.docx

# Quarto cache and files folders
*_cache/
*_files/
.quarto/
